body{
    background-color: #CFC352;

}
h1{
    padding: 10;
    color: black;
    text-align: center;
    font-family: serif;

}
thead{
    color: black;
    font-family: sans-serif;

}
.footer{
    color: #5C8403;
    
}
.names{
    background-color: white;
    border: 1px solid rgb(47, 54, 47);
    padding: 15px;
    margin-left: 10%;
    width: 15%;
}
.names1{
    background-color: white;
    border: 1px solid white;
    padding: 20;
    margin: 0px, 20px, 0pc, 0px ;
    width: 45%;
    height: 10px;
}
table{
    width: 85%;
    background-color: #fff;
    padding: 10px;
     margin-left: 30px;
    
}
/* .ses{
    
    display: inline;
} */